# Environment Variables Example
PORT=3000

# Google Apps Script / Google Drive & Sheets Integration
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/SU_SCRIPT_ID/exec
GOOGLE_APPS_SCRIPT_TOKEN=SU_CLAVE_DE_ACCESO
